body {
    background-color: lightcoral;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
h1{
    color: #fdffff;
}

h3{
    color: lightgray;
}
p{
    color: lightgray;
}

button {
    padding: 5px 20px;
    background-color: rgb(51, 183, 84);
    border-style: none;
    color:#fdffff;
}

input{
    height: 20px;
}
